Web References/CertifiedInService2/InServices0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://smtc.certifiedtransmission.com/app/wcf/external/" elementFormDefault="qualified" targetNamespace="http://smtc.certifiedtransmission.com/app/wcf/external/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetInService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uRO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uSerial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInServiceResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>