Web References/CertifiedSignIn/People.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://smtc.certifiedtransmission.com/app/services/external/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://smtc.certifiedtransmission.com/app/services/external/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://smtc.certifiedtransmission.com/app/services/external/">
      <s:element name="GetPeople">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPeopleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPeopleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPeopleSoapIn">
    <wsdl:part name="parameters" element="tns:GetPeople" />
  </wsdl:message>
  <wsdl:message name="GetPeopleSoapOut">
    <wsdl:part name="parameters" element="tns:GetPeopleResponse" />
  </wsdl:message>
  <wsdl:portType name="PeopleSoap">
    <wsdl:operation name="GetPeople">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">uKey is required.</wsdl:documentation>
      <wsdl:input message="tns:GetPeopleSoapIn" />
      <wsdl:output message="tns:GetPeopleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PeopleSoap" type="tns:PeopleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPeople">
      <soap:operation soapAction="http://smtc.certifiedtransmission.com/app/services/external/GetPeople" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PeopleSoap12" type="tns:PeopleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPeople">
      <soap12:operation soapAction="http://smtc.certifiedtransmission.com/app/services/external/GetPeople" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="People">
    <wsdl:port name="PeopleSoap" binding="tns:PeopleSoap">
      <soap:address location="http://smtc.certifiedtransmission.com/app/services/external/People.asmx" />
    </wsdl:port>
    <wsdl:port name="PeopleSoap12" binding="tns:PeopleSoap12">
      <soap12:address location="http://smtc.certifiedtransmission.com/app/services/external/People.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>